.container {
  display: flex;
  width: 90%;
  max-width: 950px;
  margin: auto;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
  margin-top: 50px;
}

.left-section {
  background: #00ffd5;
  padding: 50px;
  width: 40%;
  text-align: center;
}

.avatar {
  width: 110px;
  height: 110px;
  background: rgb(2, 0, 9);
  border-radius: 50%;
  margin: auto;
}

.right-section {
  width: 60%;
  padding: 40px 50px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.radio-group, .membership {
  display: flex;
  gap: 15px;
}

.error {
  font-size: 12px;
  color: red;
}

.buttons {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.cancel {
  background: #ddd;
  padding: 8px 18px;
  cursor: pointer;
  border-radius: 6px;
}

.save {
  background: #2ecc71;
  color: white;
  padding: 8px 18px;
  cursor: pointer;
  border-radius: 6px;
}

@media (max-width: 820px) {
  .container {
    flex-direction: column;
  }
  .left-section, .right-section {
    width: 100%;
  }
}